<h1 class="display-1 ">{{title}}</h1>
<h2>Hitesh Mohite</h2>
<div class="d-flex ml-2">
    <div>
        <a routerLink='/employees' routerLinkActive='active'><button class="btn btn-info">Employees</button></a>
    </div>&nbsp;
    <div>
        <a routerLink='/departments' routerLinkActive='active'><button class="btn btn-info">Department</button></a>
    </div>&nbsp;
    <div>
        <a routerLink='/forms' routerLinkActive='active'><button class="btn btn-info">Forms</button></a>
    </div>
</div><br>
<!-- <app-conversion (data)='data=$event' [name]='name'></app-conversion> -->
<router-outlet></router-outlet>